:root {
  --purple-50: hsl(260, 100%, 95%);
  --purple-300: hsl(264, 82%, 80%);
  --purple-500: hsl(263, 55%, 52%);
  --white: hsl(0, 0%, 100%);
  --grey-100: hsl(214, 17%, 92%);
  --grey-200: hsl(0, 0%, 81%);
  --grey-400: hsl(224, 10%, 45%);
  --grey-500: hsl(217, 19%, 35%);
  --dark-blue: hsl(219, 29%, 14%);
  --black: hsl(0, 0%, 7%);
  --shadow: rgba(0, 0, 0, 0.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: var(--white);
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-grid {
  height: 58rem;
  width: 115rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
}

.testimonial {
  border-radius: 1rem;
  padding: 2.5rem;
  box-shadow: 5rem 6rem 5rem rgba(0, 0, 0, 0.25);
}

.testimonial-daniel {
  grid-column: 1 / span 2;
  grid-row: 1;
  background-color: var(--purple-500);
  color: var(--purple-50);
  position: relative;

  background-image: url("images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: top 0 right 7rem;
  background-size: 10rem;
}

.testimonial-daniel .testimonial-name,
.testimonial-daniel .testimonial-detail-1 {
  color: var(--white);
}

.testimonial-jonathan {
  background-color: var(--grey-500);
  color: var(--grey-100);
}

.testimonial-jonathan .testimonial-name,
.testimonial-jonathan .testimonial-detail-1 {
  color: var(--white);
}

.testimonial-kira {
  grid-column: 4;
  grid-row: 1 / span 2;
  background-color: var(--white);
  color: var(--grey-500);
}

.testimonial-kira .testimonial-name,
.testimonial-kira .testimonial-detail-1 {
  color: var(--grey-400);
}

.testimonial-jeanette {
  grid-column: 1;
  grid-row: 2;
  background-color: var(--white);
  color: var(--grey-400);
}

.testimonial-jeanette .testimonial-name,
.testimonial-jeanette .testimonial-detail-1 {
  color: var(--grey-500);
}

.testimonial-patrick {
  grid-column: 2 / span 2;
  grid-row: 2;
  background-color: var(--dark-blue);
  color: var(--grey-200);
}

.testimonial-patrick .testimonial-name,
.testimonial-patrick .testimonial-detail-1 {
  color: var(--white);
}

.testimonial-header {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 1.5rem;
}

.testimonial-name {
  font-weight: 600;
}

.testimonial-img {
  height: 4rem;
  border-radius: 50%;
}

.testimonial-detail-1 {
  font-size: 2.1rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.testimonial-detail-2 {
  font-size: 1.4rem;
}

/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */
/* Mobile = 384px = 24em */

/******************************************/
/* BELOW 384px (Mobile) */
/******************************************/
@media (max-width: 24em) {
  body {
    padding: 5rem 2rem;

    display: block;
  }

  .testimonial-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100%;
    height: auto;
  }

  .testimonial {
    grid-column: auto;
    grid-row: auto;
  }

  .testimonial-daniel {
    background-image: none;
  }
}
